.gender-input{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}
.register-dob{
    display: flex;
    align-items: center;
    gap: 20px;
}
.new-footer-top-news-letter-input{
    display: flex;
    align-items: center;
}
.new-footer-top-news-letter-input-image{
    width: 100%;
}